$blood-red: #A52B21;
$red-red: #C22113;
$red: #CB3220;
$red-orange: #F86748;
$orange-color: #FFA547;
$green: #306559;
$light-green: #9BD31D;
$light-grey: #757575;
$light-white-grey: #CCCCCC;
$light-grey-light: #E4E4E4;

$footer-contacts-color: $grey-color5;
$main-header-menu-color:#FF8132;
$h2-header-color: $black-color;

$shadow-color: rgba(0, 0, 0, 0.25);

$primary-text-color: #2B2B2B;
$secondary-text-color: #353239;
$alt-text-color: $white-color;

$gradient-orange: linear-gradient(90deg, #FC5756 0%, #F37938 100%);

$header-menu-bg: #123934;
$header-menu-bg-border: #DFB57D;
