.logo{
    a{
        @extend %flex-horizontal;
        @extend %clean-link;
    }
    img{
        @extend %img-fill;
    }
}
.logo__image{
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    @media (min-width: 576px){
        width: 125px;
        height: 125px;
    }
}
.logo__text{
    padding: 20px 0px 0px 21px;
    color: $primary-text-color;
}

.logo-bg{
    position: absolute;
    width: 189px;
    height: 189px;
    bottom: 0px;
    left: 50%;
    margin-left: -93px;
}

.header__logo{
    @extend %flex-horizontal-center;
    @media(min-width: 576px) {
        display: block;
    }
}