.footer{
    position: relative;
    height: 723px;
    background: url('../../images/tit\ 1.jpg') repeat-x center;
    background-size: auto 100%;
    padding: 135px 0px 175px;
    color: $white-color;
}
.footer__contacts{
    max-width: 267px;
}